Bank2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bank" type="bankType"/>
  <xs:complexType name="bankInfoType">
    <xs:sequence>
      <xs:element type="xs:string" name="bankName"/>
      <xs:element type="xs:string" name="bankId"/>
      <xs:element type="xs:string" name="bankWebAddress"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerAccountType">
    <xs:sequence>
      <xs:element name="customerAccountId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="customerAccountName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Vlad"/>
            <xs:enumeration value="Artem"/>
            <xs:enumeration value="Masha"/>
            <xs:enumeration value="Sasha"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="customerAccountPIN">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="5555"/>
            <xs:enumeration value="1234"/>
            <xs:enumeration value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="customerAccountCurrency"/>
      <xs:element name="customerAccountBalance">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2000"/>
            <xs:enumeration value="200234"/>
            <xs:enumeration value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="customerAccountStatus">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="block"/>
            <xs:enumeration value="unblock"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerType">
    <xs:sequence>
      <xs:element name="customerId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="customerName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Vlad"/>
            <xs:enumeration value="Artem"/>
            <xs:enumeration value="Masha"/>
            <xs:enumeration value="Sasha"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="customerAge">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="20"/>
            <xs:enumeration value="21"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="customerAccountType" name="customerAccount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customersType">
    <xs:sequence>
      <xs:element type="customerType" name="customer" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bankType">
    <xs:sequence>
      <xs:element type="bankInfoType" name="bankInfo"/>
      <xs:element type="customersType" name="customers"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>